body {color: #221811;
    background-image: url(background.gif);}
header {background-color: #D2B48C; text-align: left; height: 150px;}
h1 {line-height: 150px}
nav {font-weight: bold;
text-align: center;}
footer {font-size: .60em;
font-style: italic;
text-align: center;
background-color: #D2B48C;}
#wrapper {margin-left: auto;
margin-right: auto;
width: 80%;
background-color: #FCEBB6;}
nav a {text-decoration: none;}