* {
    box-sizing: border-box;
}

body {
    color: #221811;
    background-image: url(background.gif);
}

header {
    background-color: #D2B48C;
    height: 150px;
    background-image: url(javajamlogo.jpg);
    background-repeat: no-repeat;
    display: block;
}

h1 {
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding-top: 10px;
    float: left;
    width: 200px;
    display: block;
}

nav :link {
    color: #FEF6C2;
}

nav :visited {
    color: #D2B48C;
}

nav :hover {
    color: #CC9933;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

footer {
    font-size: .60em;
    font-style: italic;
    text-align: center;
    background-color: #D2B48C;
    padding-bottom: 10px;
    display: block;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
}

nav a {
    text-decoration: none;
}

#details {
    padding-left: 20%;
    padding-right: 20%;
}

h4 {
    background-color: #D2B481;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: 0;
    border-bottom-style: solid;
    text-transform: uppercase;
}

main {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2em;
    padding-top: 0;
    margin-left: 200px;
    background-color: #FEF6C2;
    display: block;
}

main h1 {
    padding-left: 3em;
    padding-right: 2em;
}

main h2 {
    padding-left: 3em;
    padding-right: 2em;
}

main h3 {
    padding-left: 3em;
    padding-right: 2em;
}

main h4 {
    padding-left: 3em;
    padding-right: 2em;
}

main p {
    padding-left: 3em;
    padding-right: 2em;
}

main div {
    padding-left: 3em;
    padding-right: 2em;
}

main ul {
    padding-left: 3em;
    padding-right: 2em;
}

main dl {
    padding-left: 3em;
    padding-right: 2em;
}

#details {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2em;
    overflow: auto;
}

#floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

#heroroad {
    background-image: url(heroroad.jpg);
    background-size: 100%;
    height: 250px;
}

#heromugs {
    background-image: url(heromugs.jpg);
    background-size: 100%;
    height: 250px;
}

#heroguitar {
    background-image: url(heroguitar.jpg);
    background-size: 100%;
    height: 250px;
}