body {background-color: #FCEBB6;
    color: #221811;}
    header {background-color: #D2B48C;text-align: left; height: 150px;}
    h1 {line-height: 150px}
    nav {font-weight: bold;
    text-align: center;}
    footer {font-size: .60em;
    font-style: italic;}
    #wrapper {margin-left: auto;
    margin-right: auto;
    width: 80%;}
    nav a {text-decoration: none;}